@import url('https://fonts.cdnfonts.com/css/averta-blackitalic');

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

a,
button {
    cursor: revert;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Averta-Regular', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #04154d, blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 3rem;
    border-radius: 10px;
    position: relative;
    margin-top: 1rem;
}

.card::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -2;
}

.card-header {
    text-align: center;
}

.card-header {
    margin-bottom: 2rem;
}

.card-header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.item-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
ol {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
    justify-content: center;
}
 